<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tom Armstrong - assistant professor of computer science">
    <meta name="author" content="Tom Armstrong - assistant professor of computer science">
    <link rel="shortcut icon" href="/img/favicon.png">
    <script type="text/javascript">//<![CDATA[
    // Google Analytics for WordPress by Yoast v4.2.8 | http://yoast.com/wordpress/google-analytics/
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-71379-7']);
            _gaq.push(['_trackPageview']);
    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
    //]]></script>


    <title>{{name}} &mdash; assistant professor of computer science</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">


  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <a href="http://www.goo.gl/me5nf">
            <br/>
            <img src="/img/tom.jpg" width="250" class="img-polaroid img-rounded" data-toggle="tooltip" data-placement="bottom" title="See an album of photos from India">
          </a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 text-left">
          <blockquote><h2><strong>Tom Armstrong</strong></h2></blockquote>
          <br/><p class="lead">Tom is Assistant Professor of Computer Science in the <a href="http://wheatoncollege.edu/computer-science/">Department of Math and Computer Science</a> at <a href="http://www.wheatoncollege.edu/">Wheaton College</a> in Norton, Massachusetts. He was a <a href="http://www.cies.org/us_scholars/us_awards/">Fulbright</a>-<a href="http://www.usief.org.in/">Nehru</a> Visiting Lecturer at the <a href="http://www.ngu.ac.in/"> Hemchandracharya North Gujarat University </a> in <a href="http://maps.google.com/maps?q=patan+gujarat">Patan, Gujarat, India</a>.</p>
        </div>
      </div>
      <br/>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" style="width: 75%"><span class="sr-only">35% Complete (success)</span></div>
        <div class="progress-bar " style="width: 25%"><span class="sr-only">20% Complete (warning)</span></div>
      </div>

      <div class="row marketing well">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-5">
          <h3 class="text-center">Biographical Sketch</h3>
          <p>At Wheaton, Tom teaches Computer Science courses in the Department of Mathematics and Computer Science. He is the founder of <strong>WHALE</strong>, the <a href="http://www.wheatoncollege.edu/whale/"><strong>WH</strong>eaton <strong>A</strong>utomomous <strong>LE</strong>arning Lab and Makerspace</a>.</p> 

          <p>Tom received a Ph.D. in Computer Science from <a href="http://www.umbc.edu/">UMBC</a> working with <a href="http://ebiquity.umbc.edu/person/html/Tim/Oates/">Tim Oates</a> in the <a href="http://www.coral-lab.org/">Cognition, Robotics, and Learning Lab</a>.  Before his doctoral studies, Tom received a B.Sc. in <a href="http://www.cs.umass.edu/">Computer Science</a> and a B.Sc. in <a href="http://www.math.umass.edu/">Mathematics</a> and <a href="http://www.umass.edu/linguist/">Linguistics</a> at the <a href="http://www.umass.edu/">University of Massachusetts, Amherst</a>.</p>

          <p>He was a member of the Center for Computer-Based Instructional Technology (now the <a href="http://www.cesd.umass.edu/">Center for Educational Software Development</a>) and the Experimental Knowledge Systems Laboratory in the <a href="http://www.cs.umass.edu/">School of Computer Science</a> and the <a href="http://www.umass.edu/language_acquisition/">Language Acquisition Lab</a> in the Linguistics department.</p>
        </div>

        <div class="col-lg-6">
              <h3 class="text-center">Contact Information</h3>
              <dl class="dl-horizontal">
                <dt><i class="icon-inbox icon-2"></i> :</dt>
                <dd><a href="mailto:tarmstro@wheatoncollege.edu">tarmstro@wheatoncollege.edu</a></dd><br/>
                <dt><i class="icon-file icon-2"></i> :</dt>
                <dd><a href="http://scholar.google.com/citations?user=Nqz5JNsAAAAJ">Google Scholar</a> / <a href="http://www.informatik.uni-trier.de/~ley/pers/hd/a/Armstrong:Tom.html">DBLP</a> / <a href="publications/">Publications</a></dd><br/>
                <dt><i class="icon-github icon-2"></i> :</dt>
                <dd><a href="https://github.com/tarmstro">tarmstro</a></dd><br/>
                <dt><i class="icon-twitter icon-2"></i> :</dt>
                <dd><a href="https://twitter.com/W_H_A_L_E">@W_H_A_L_E</a> / <a href="https://twitter.com/tarmstro">@tarmstro</a></dd><br/>
                <!--<dt><i class="icon-facebook icon-2"></i> :</dt>
                <dd><a href="https://www.facebook.com/whalelab">WHALE Page</a></dd>
                <dt><i class="icon-phone icon-2"></i> :</dt>
                <dd>+1 (508) 286-5686</dd>-->
                <dt><i class="icon-envelope icon-2"></i> :</dt>
                <dd><a href="https://www.google.com/maps?q=26+E+Main+St,+Norton,+MA,+North+America&hl=en&sll=41.967292,-71.184948&sspn=0.011934,0.019398&oq=26+E+Main+St,+Nor&hnear=26+E+Main+St,+Norton,+Massachusetts+02766&t=m&z=16">26 E. Main Street //
              Norton, MA 02766</a></dd><br/>
                <dt></dt>
                <dd><a href="http://www.wheatoncollege.edu/"><img src="/img/wheaton.jpg" width="200" class="img-polaroid img-rounded"></a></dd>
              </dl>
        </div>
      </div>



      <div class="footer" align="center">
        <p>&copy; Tom Armstrong 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script>
      $('[data-toggle="tooltip"]').tooltip();
    </script>
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
